@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {

  /* ===== FONTES ===== */
  --fonte-titulos: 'Oswald', sans-serif;
  --fonte-times: 'Verdana', sans-serif;
  --fonte-padrao: 'Roboto', sans-serif;

  


  /* ===== CORES ===== */
  --cor-principal: #2D232E;
  --cor-secundaria: #474448;
  --cor-base: #F1F0EA;
  --cor-detalhes: #E0DDCF;
  --cor-fonte: #594F3B;
*{
  box-sizing: border-box;
}

}
.cabecalho {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: var(--cor-principal);
  padding: 15px;
  color: var(--cor-detalhes);
}

.logo {
  width: 100px;
  height: auto;
}

.nome-loja {
  font-size: 28px;
}

.aviso-catalogo {
  text-align: center;
  border: 2px solid var(--cor-principal);
  box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
  padding: 10px;
  margin: 10px auto;
  width: min(760px, 95%);
  max-width: 825px;
  border-radius: 8px;
  background-color: var(--cor-base);
  color: var(--cor-fonte);
  font-family: var(--fonte-padrao);
}

.aviso-catalogo h2 {
  margin: 10px  0;
  font-family: var(--fonte-titulos);
  font-weight: bolder;
  font-size: clamp(18px, 4vw, 26px);

}

.aviso-catalogo p {
  margin-bottom: 10px;
  font-family: var(--fonte-padrao);

}

.botao-whatsapp {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--cor-secundaria);
  color: var(--cor-base);
  text-decoration: none;
  border-radius: 5px;
  font-size: 14px;
  transition: 0.3s;
  margin: 10px 0px 15px 0px;
  font-family: var(--fonte-padrao);
}

.botao-whatsapp:hover {
  background-color: var(--cor-principal);
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}


.conteudo {
  display: flex;
  justify-content: center;
  gap: 5px;
  padding: 0 10px;
}

.coluna {
  background-color: var(--cor-base);
  padding: 10px;
  border-radius: 8px;
  width: 98%;
  max-width: 250px;
  min-width: 0;
  flex: 1;
  text-align: center;
  border: 2px solid var(--cor-principal);
  font-size: 1em;
  
}

.coluna h2 {
  margin-bottom: 20px;
  color: var(--cor-fonte);
  font-family: var(--fonte-titulos);
  font-size: 1.3em;
  background-color: var(--cor-detalhes);
  border-radius: 5px;
  padding: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.418);
}

/* Botões */

.botao {
  display: block;
  text-decoration: none;
  background-color: var(--cor-secundaria);
  color: var(--cor-base);
  padding: 10px;
  margin: 8px 0;
  border-radius: 5px;
  transition: 0.3s;
  font-family: var(--fonte-titulos);
  font-size: 1em;

}

/* Efeito ao passar o mouse */

.botao:hover {
  background-color: var(--cor-principal);
  color: white;
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}



/* PAGINAS DOS CLUBES */

/* RESET BÁSICO */
body{
  margin:0;
  font-family: Arial, sans-serif;
  background-color: var(--cor-detalhes);
}

/* ===== TOPO ===== */
.topo-time{
  position: relative;
  display:flex;
  align-items:center;
  justify-content:center;
  gap: 15px;
  background-color: var(--cor-principal);
  box-shadow:0px 2px 5px rgba(0,0,0,0.1); 
  height: 70px;
  padding: 5px;
}

.logo-paginas{
  position: absolute;
  align-items: center;
  left: 15px;
  width: 80px;
  height: auto;
}

.titulo-time{
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--cor-base);
  font-size: clamp(10px, 4vw, 18px);
  font-family: var(--fonte-times);
}


/* BOTÃO VOLTAR */

.botao-voltar img{
    width:auto;
    display: block;
    transition:0.3s;
}

.botao-voltar img:hover{
    transform:scale(1.2);
}


/* ===== GALERIA ===== */

.galeria-camisas{
    max-width:500px;
    margin:40px auto;

    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap:25px;

    padding:20px;
}


/* CARD CAMISA */

body .pagina-time {
  background-color: var(--cor-secundaria);
}

.camisa{
    background:var(--cor-base);
    padding:10px;
    border-radius:8px;
    box-shadow:0 2px 6px rgba(0,0,0,0.1);
    transition:0.3s;
    position: relative;
}

.camisa img{
    width:100%;
    border-radius:5px;
    display: block;
}

.camisa:hover{
    transform:scale(1.08);
}
.texto-hover{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;

    font-family: var(--fonte-padrao);
    background: rgba(0,0,0,0.6);
    color: white;
    text-align: center;
    padding: 8px;

    opacity: 0;
    transition: 0.3s;

    box-sizing: border-box;
}

.camisa:hover .texto-hover{
    opacity: 1;
}

/* LIGHTBOX */

#lightbox{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;

    background: rgba(0,0,0,0.8);

    display:none;
    align-items:center;
    justify-content:center;

    z-index:999;
}

#lightbox img{
    max-width:90%;
    max-height:90%;
    border-radius:10px;
}
