:root {

  /* ===== FONTES ===== */
  --fonte-titulos: 'Arial', sans-serif;
  --fonte-times: 'Verdana', sans-serif;
  --fonte-padrao: 'Roboto', sans-serif;


  /* ===== CORES ===== */
  --cor-principal: #26547C;
  --cor-secundaria: #20A4F3;
  --cor-base: #FFFCF2;
  --cor-detalhes: #CCC5B9;
  --cor-fonte: #594F3B;


}
.cabecalho {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: var(--cor-principal);
  padding: 15px;
  color: var(--cor-base);
}

.logo {
  width: 60px;
}

.nome-loja {
  font-size: 24px;
}

.aviso-catalogo {
  text-align: center;
  border: 3px solid var(--cor-principal);
  padding: 15px;
  margin: 20px auto;
  max-width: 850px;
  border-radius: 8px;
  background-color: var(--cor-base);
  color: var(--cor-fonte);
}

.aviso-catalogo h2 {
  margin-bottom: 8px;

}

.aviso-catalogo p {
  margin-bottom: 10px;

}

.botao-whatsapp {
  display: inline-block;
  padding: 6px 14px;
  background-color: var(--cor-principal);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 14px;
  transition: 0.3s;
}

.botao-whatsapp:hover {
  background-color: var(--cor-secundaria);
}


.conteudo {
  display: flex;
  justify-content: center;
  
  gap: 5px;
}

.coluna {
  background-color: var(--cor-base);
  padding: 20px;
  border-radius: 8px;
  width: 250px;
  text-align: center;
  border: 3px solid var(--cor-principal);
  
}

.coluna h2 {
  margin-bottom: 20px;
  color: var(--cor-fonte);
}

/* Botões */

.botao {
  display: block;
  text-decoration: none;
  background-color: var(--cor-principal);
  color: var(--cor-base);
  padding: 10px;
  margin: 8px 0;
  border-radius: 5px;
  transition: 0.3s;
}

/* Efeito ao passar o mouse */

.botao:hover {
  background-color: var(--cor-secundaria);
  color: white;
}

/* PAGINAS DOS CLUBES */
/* RESET BÁSICO */

body{
    margin:0;
    font-family: Arial, sans-serif;
    background-color: var(--cor-base);
}


/* ===== TOPO ===== */

.topo-time{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:15px;
    padding:20px;
    background-color: var(--cor-principal);
    box-shadow:0 2px 5px rgba(0,0,0,0.1);
    color: var(--cor-base);
}

.nome-time{
    font-size:28px;
}


/* BOTÃO VOLTAR */

.botao-voltar img{
    width:30px;
    transition:0.3s;
}

.botao-voltar img:hover{
    transform:scale(1.2);
}


/* ===== GALERIA ===== */

.galeria-camisas{
    max-width:1000px;
    margin:40px auto;

    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap:25px;

    padding:20px;
}


/* CARD CAMISA */

.camisa{
    background:var(--cor-detalhes);
    padding:10px;
    border-radius:8px;
    box-shadow:0 2px 6px rgba(0,0,0,0.1);
    transition:0.3s;
}

.camisa img{
    width:100%;
    border-radius:5px;
}

.camisa:hover{
    transform:scale(1.05);
}

/* LIGHTBOX */

#lightbox{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;

    background: rgba(0,0,0,0.8);

    display:none;
    align-items:center;
    justify-content:center;

    z-index:999;
}

#lightbox img{
    max-width:90%;
    max-height:90%;
    border-radius:10px;
}
